body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:679px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 35px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:0px 0px 35px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:0px 0px 35px rgba(204, 204, 204, 0.349019607843137);
}
#u215 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:127px;
  width:780px;
  height:679px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:680px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:127px;
  width:780px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:776px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:338px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:376px;
  width:601px;
  height:338px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:161px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:742px;
  width:352px;
  height:36px;
  line-height:18px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  line-height:18px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:335px;
  width:379px;
  height:18px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  line-height:18px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:210px;
  width:141px;
  height:32px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
